/* client/src/App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.recipe-card h2 {
  font-size: 1.5em;
  margin-top: 10px;
}

.recipe-card p {
  font-size: 1em;
  color: #555;
}
