/* client/src/App.css */ 
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header {
  @apply bg-gray-100 p-5 mb-5;
}

h1 {
  @apply text-4xl font-bold;
}

/* Background spacing to account for topbar --------------- */
.back {
  @apply py-20;
}

/* Recipe List Styling -------------------------------------*/
.recipe-list {
  @apply flex flex-wrap justify-center gap-6 p-4;
}

.recipe-card {
  @apply border border-gray-300 rounded-2xl bg-white transition-transform transform;
  width: 300px;
  height: auto;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.recipe-card:hover {
  @apply shadow-lg rounded-2xl;
}

.recipe-card img {
  @apply w-full h-48 rounded-2xl object-cover;
}

.recipe-card h2 {
  @apply text-xl font-semibold mt-3 text-gray-800;
}

.recipe-card p {
  @apply text-gray-600 text-sm mt-2;
}

.hovering {
  @apply hover:bg-black bg-opacity-50 rounded-2xl;
}

/* Bottom Navigation Bar Styling -------------------------------------*/
.bottom-nav {
  @apply flex justify-around p-4 bg-white border-t border-gray-200 fixed bottom-0 w-full;
}

.bottom-nav a {
  @apply text-gray-700 text-sm flex flex-col items-center hover:text-blue-500;
}

.bottom-nav svg {
  @apply text-2xl mb-1;
}

/* Top Bar -------------------------------------*/
.top-bar {
  @apply flex justify-between items-center p-4 bg-white shadow-sm;
}

/* Logo Section */
.logo {
  @apply flex items-center gap-3;
}

.logo-image {
  @apply w-10 h-10;
}

.logo-text {
  @apply text-2xl font-bold;
}


.search-container {
  @apply relative flex flex-col w-2/5;
}

.search-input {
  @apply w-full p-2.5 pl-9 pr-6 border border-gray-200 rounded-3xl text-base bg-gray-100;
}

.search-icon {
  @apply absolute top-1/2 left-3 transform -translate-y-1/2 text-teal-700 text-lg;
}

.icons a {
  @apply ml-5 text-lg text-teal-700 hover:text-teal-500;
}

/* Login Stuff -------------------------------------*/

/* Profile Page Stuff ------------------------------*/

.profile-page {
  @apply flex flex-col items-center justify-start mb-12 space-y-4;
}

.profile-details {
  @apply text-center mx-6 flex-grow; 
}

.cookbook-profile {
 @apply text-center;
}

.bio-section {
  @apply mt-3 mb-5;
}